@import "../../../variables";

.menu-item {
    font-weight: 700;
    text-decoration: none;
}
.menu-item-mobile {
    color: black;
    padding: 14px;
    display: flex;
    justify-content: center;
    background-color: $grey-light;
    span {
        position: relative;
    }
    img {
        position: absolute;
        left: -30px;
    }
}
.menu-item-mobile:hover {
    text-decoration: underline;
}
.menu-item-mobile.menu-item-active {
    display: none;
}
.menu-item-desctop {
    color: $green-light;
}
.menu-item-desctop:hover {
    color: $green-medium;
}
.menu-item-desctop.menu-item-active {
    color: black;
}
