@import "../../../variables";

.menu-item {
    font-weight: 700;
    text-decoration: none;
}
.menu-item-mobile {
    color: black;
    padding: 14px;
    display: flex;
    justify-content: center;
    background-color: $grey-light;
    span {
        position: relative;
    }
    img {
        display: none;
    }
}
.menu-item-mobile:hover {
    text-decoration: underline;
}
.menu-item-mobile.menu-item-active {
    display: none;
}
.menu-item-desctop {
    color: #848080;
}
.menu-item-desctop:hover {
    color: #565656;
}
.menu-item-desctop.menu-item-active {
    color: $brown-dark;
}
