@import "../../variables";

@import "../../media";

.stories{
    width: 100%;

    .stories-post-container{
        width: 100%;

        .stories-post-horizontal-line{
            display: block;
            width: 100%;
            height: 2px;
            background-color: $grey-medium;
        }
    }
}