//size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//colors
$grey-light: #ebe7e7;
$grey-middle: #c4c4c4;
$green-light: #5ec587;
$green-middle: #2fd772;

.menu-container {
    background-color: $grey-middle;
    display: flex;
    position: relative;
}
.menu-control {
    width: 24px;
    height: 24px;
    margin: 22px 20px 22px auto;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;

    span,
    span::before,
    span::after {
        width: 18px;
        height: 2px;
        background-color: black;
        border-radius: 1px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -9px;
    }
    span::before,
    span::after {
        content: "";
        transition: 0.2s;
    }
    span::before {
        transform: translateY(-5px);
    }
    span::after {
        transform: translateY(5px);
    }
}
.active {
    span {
        height: 0;
    }
    span::before {
        transform: rotate(-45deg);
    }
    span::after {
        transform: rotate(45deg);
    }
    .menu-nav-container {
        top: 100%;
        transform: translateY(0%);
    }
}

.menu-nav-container {
    width: 100%;
    padding: 20px 14px;
    background-color: rgba(196, 196, 196, 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;

    transition: 0.4s;
    transform-origin: top;
    top: 0;
    transform: translateY(-100%);

    .menu-nav-item {
        color: black;
        font-weight: 700;
        text-decoration: none;
        padding: 14px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        background-color: $grey-light;
        .menu-nav-img {
            margin-right: 15px;
        }
    }
}

.menu-search {
    display: flex;
    margin: auto;
    input {
        min-width: 260px;
        height: 36px;
        padding: 0 8px;
        border: 0;
        border-radius: 12px 0 0 12px;
        background-color: white;
    }
    button {
        height: 36px;
        border: 0;
        border-radius: 0 12px 12px 0;
        background-color: white;
        cursor: pointer;
    }
}

@media (min-width: $lg) {
    .mobile-only {
        display: none;
    }
    .menu-container {
        background-color: $grey-light;
    }
    .menu-search{
        margin: 0 10px 0;
    }
    .menu-nav-container {
        background-color: transparent;
        top: 100%;
        transform: translateY(0%);
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        nav {
            margin-right: auto;
            display: flex;  
            order: -1;         
        }
        .menu-nav-item {
            color: $green-light;
            padding: 0;
            margin: 0 10px;
            background-color: transparent;
            
            .menu-nav-img {
                margin: 2px;                
            }
        }
        .menu-nav-item:hover {
            color: $green-middle;
        }
    }
}
