.menu-container {
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-control {
  width: 24px;
  height: 24px;
  margin: 22px 20px 22px auto;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 2;
}

.menu-control span,
.menu-control span::before,
.menu-control span::after {
  width: 18px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -9px;
}

.menu-control span::before,
.menu-control span::after {
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-control span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-control span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.active span {
  height: 0;
}

.active span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.active .menu-nav-container {
  top: 100%;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.menu-nav-container {
  width: 100%;
  padding: 20px 14px;
  background-color: rgba(196, 196, 196, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: top;
          transform-origin: top;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.menu-nav-container .menu-nav-item {
  color: black;
  font-weight: 700;
  text-decoration: none;
  padding: 14px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebe7e7;
}

.menu-nav-container .menu-nav-item .menu-nav-img {
  margin-right: 15px;
}

.menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.menu-search input {
  min-width: 260px;
  height: 36px;
  padding: 8px;
  border: 0;
  border-radius: 12px 0 0 12px;
  background-color: white;
}

.menu-search button {
  height: 36px;
  border: 0;
  border-radius: 0 12px 12px 0;
  background-color: white;
  cursor: pointer;
}

@media (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .menu-search {
    margin: 0 10px 0;
  }
  .menu-nav-container {
    top: 100%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-nav-container nav {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .menu-nav-container .menu-nav-item {
    color: #5ec587;
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
  }
  .menu-nav-container .menu-nav-item .menu-nav-img {
    margin: 2px;
  }
  .menu-nav-container .menu-nav-item:hover {
    color: #2fd772;
  }
}
/*# sourceMappingURL=Menu.css.map */