@import "../../variables";

.ArticlesPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $basic;
    
    
    .ArticlesBanner{
        
        height: 249px;
        border-radius: 10px;
        background-image: url("../../img/Articles/pexels-taryn-elliott-3889795\ 1.png");
        position: relative;

        @media(max-width:$xl){
            background-position-x: 80%;
            overflow: hidden;
        }
        @media(max-width:$md){
            background-image: none;
        }

        .ArticlesBanner-TextBox{
            background-color: #858181;
            width: 337px;
            height: 249px;
            position: absolute;
            right: 10%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            @media(max-width: $md){
                right: 0;
                border-radius: 10px;
            }

            img{
                margin-right: 10px;
            }
            .line{
                width: 5px;
                height: 249px;
                margin: 10px;
                padding:0;
                background-color: $grey-light;

                @media(max-width: $md){
                    display: none;
                }
        
            }
        }
    }
    .article{
        padding-top: 30px;
        .article-horizontal-line{
            width: 100%;
            height: 2px;
            background-color: $grey-medium;
        }
        .article-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .article-content-avatar-image {
                padding-top: 10px;

                img{
                    border-radius: 50%;
                }
            }
            .article-content-text{
                width: 85%;
                
                .article-content-text-header{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;

                    h1{
                        font-size: 20px;
                        font-weight: 700;
                        color:#412a2a ;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                    }

                    img{
                        padding-top: 20px;
                    }
                }
                .article-content-text-body-box{
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: 400;

                    p{
                        cursor: pointer;
                        text-decoration: underline;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .horizontal-line-short{
                        width: 100%;
                        height: 2px;
                        background-color: $grey-medium;
                    }
                    .article-content-text-body-box-content-action-box{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 0;

                        div{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            img{
                                display: inline-block;
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}