@import "../../../../variables";

.pictures-item {
    color: black;
    background-color: $grey-medium;
    text-decoration: none;
    text-align: center;
    img {
        width: 100%;
        height: 206px;
        object-fit: cover;
    }
    h4 {
        margin: 20px 20px 0 20px;
    }
    p {
        margin: 0 20px 20px 20px;
    }
}
.pictures-item:hover {
    text-decoration: underline;
}
