@import "../../variables";

@import "../../media";

.cooperation .container_buttons_and_text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin:5px 0;
    width: 100%;
    font-family: $basic;

    .container_buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;

        button{
            width: 330px;
            height: 50px;
            text-align: center;
            background-color: #DEDADA;
            border-radius: 12px;
            border: none;
            margin: 5px 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
            cursor: pointer;
        }

    }
     .container_text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        font-family: $basic;

        h1{
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $green-medium;

            &::after{
                content: "";
                display: block;
                width: 330px;
                height: 4px;
                background-color:$green-medium ;
                margin-top: 8px;
            }
        }
        p{
        
            max-height: 280px;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            font-weight: normal;
            margin-top: 30px;
        }
    }
}

 .container_photo{
    background-image: url('../../img/Cooperation/roller-coaster-3605743_1920\ 1.png');
    
    height: 384px;
    background-size: cover;
    background-repeat: no-repeat;

}

 .container_extra_text{
    width: 100%;
    height: 72px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-family: $basic;
    p{
        margin: 37px 0;
    }
}