@import "../../variables";

@import "../../media";

//fonts  (Karolina Skorupska)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800&display=swap');
$basic: 'Montserrat', sans-serif;


.cooperation .container_buttons_and_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:5px 0;
    width: 100%;
    font-family: $basic;

    @media(max-width:$md){
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

    .container_buttons{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;

        @media(max-width:$md){
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }

        @media(max-width:$sm){
            padding: $side-sm;
        }
    


        button{
            width: 330px;
            height: 50px;
            text-align: center;
            background-color: #DEDADA;
            border-radius: 12px;
            border: none;
            margin: 5px 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
            cursor: pointer;
        }

    }
     .container_text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        font-family: $basic;

        h1{
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: $green-medium;

            @media(max-width:$sm){
                font-size: 18px;
                line-height: 22px;
            }

            &::after{
                content: "";
                display: block;
                width: 330px;
                height: 4px;
                background-color:$green-medium ;
                margin-top: 8px;

                @media(max-width:$sm){
                    margin-top:3px;
                }
            }
        }
        p{
        
            max-height: 280px;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            font-weight: normal;
            margin-top: 30px;

            @media(max-width:$sm){
                font-size: 18px;
                line-height: 22px;
                margin-top: 15px;
            }
        }
    }
}

 .container_photo{
    background-image: url('../../img/Cooperation/roller-coaster-3605743_1920\ 1.png');
    
    height: 384px;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:$md){
        display: none;
}

}

 .container_extra_text{
    width: 100%;
    margin:10px 0;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    font-family: $basic;
    p{
        margin: 37px 0;
    }
}