@import "./../../../variables";

.faq-item {    
    margin: 5px 0;
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        background-color: white;
        padding: 10px 24px;
        border: 2px solid #dedada;
        border-radius: 12px;
        margin: 0 0 5px;
        cursor: pointer;
        .faq-item-buttonwrap {
            margin-left: 10px;
        }
        .faq-item-button {
            width: 10px;
            height: 10px;
            border-left: 3px solid black;
            border-bottom: 3px solid black;
            transform: translateY(-3px) rotate(-45deg);
        }
        .faq-item-button.faq-button-up {
            transform: translateY(0px) rotate(135deg);
        }
    }
    &-content {
        max-height: 0;
        font-size: 18px;
        line-height: 22px;
        margin: 0;        
        overflow-y: auto;
        transition: max-height 1s;
    }
    &-content.faq-content-show {
        max-height: 1000vh;
        padding-bottom: 1px;
        transition: max-height 1s;
    }
}
