@import "../../variables";

    .loginpage{
        background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;

        .loginpage-form-container{
            background-color: hotpink;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .loginpage-form-container-form{
                background-color: coral;
                height: 80%;
                max-height: 780px;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1{
                    font-family: $basic;
                    font-size: 36px;
                    line-height: 44px;
                    font-weight: normal;
                    margin-bottom: 70px;
                }
                .email-container, .password-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    label{
                        font-family: $basic;
                        font-size: 16px;
                        line-height: 20px;
                        color: black;
                    }
                    input{
                        max-width: 330px;
                        height: 54px;
                        border: 1px solid #000000;
                        border-radius: 12px;
                        background-color: #ffffff;
                        padding: 15px 20px;
                        font-size: 20px;
                        line-height: 24px;
                        color: #8f8d8d;
                    }
                }
            }

        }
        .loginpage-photo-container{
            background-color: indigo;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .background-image{
                background-image: url('../../img/Login/abstract-login-image.png');
                background-size: cover;
                height: 80%;
                max-height: 780px;
                width: 90%;
                position: relative;
                .text-image{
                    position: absolute;
                    left: -20%;
                }
            }

        }
        .loginpage-buttons-container{
            
        }

        
    }
