@import "../../../variables";

.home-text-container {
    p {
        text-align: justify;
    }
    img {
        display: none;
    }
    .home-h {
        color: $green-medium;
    }
    .text-img-float {
        float: left;
        margin: 4px 24px 0 0;
    }
}

@media (min-width: $sm) {
    .home-text-container {
        img {
            max-width: 100%;
            display: block;
            margin: auto;
        }
    }
}
