@import "../../variables";

.footer-container {
    background-color: $grey-medium;
    padding: 30px $side-sm;
}
.footer-content {
    max-width: $max-width;
    margin: auto;
    display: grid;    
    justify-content: space-around;
}

@media (min-width: $md) {
    .footer-container{
        padding: 30px $side-md;
    }
    .footer-content {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}
@media (min-width: $xl) {
    .footer-container{
        padding: 30px $side-xl;
    }
    .footer-content {
        grid-template-columns: repeat(3, max-content);        
    }
}
