.container {
    max-width: $max-width;
    margin: auto;
    margin: 0 $side-sm 20px $side-sm;
    font-family: 'Montserrat';
}

@media (min-width: $md) {
    .container {
        margin: 0 $side-md 20px $side-md;
    }
}
@media (min-width: $xl) {
    .container {
        margin: 0 $side-xl 20px $side-xl;
    }
}
@media (min-width: $max-width+$side-xl) {
    .container {
        margin: 0 auto 20px auto;
    }
}