//size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$max-width: 1440px;

//size for side paddings/margins
$side-sm: 16px;
$side-md: 40px;
$side-lg: 64px;
$side-xl: 142px;

//colors
$pink-light: #f0baba;
$pink-medium: #f06060;
$blue-light: #83ace9;
$blue-medium: #4b7ac0;
$grey-light: #ebe7e7;
$grey-medium: #c4c4c4;
$green-light: #5ec587;
$green-medium: #2fd772;
