@import "../../../variables";
@import "../../../global";

.questions_questionsButtons_button {
  width: 100%;
  height: 50px;
  left: 142px;
  top: 1343px;

  border: 2px solid #dedada;
  box-sizing: border-box;
  border-radius: 12px;

  cursor: pointer;
}

.hide {
  display: none;
}

.rotate{
  transform: rotate(180deg);
}