@import "../../variables";

.banner-container {
    position: relative;
    background-color: transparent;
    min-height: 100px;
}
.banner-background,
.banner-logo {
    display: none;
}
.banner-button-container {
    display: flex;
    justify-content: center;
    .banner-button {
        max-width: 330px;
        border-radius: 12px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        margin: 20px 8px;
        padding: 12px;
    }
    .banner-button-pregnancy {
        background-color: $pink-light;
    }
    .banner-button-pregnancy:hover {
        background-color: $pink-medium;
    }
    .banner-button-baby {
        background-color: $blue-light;
    }
    .banner-button-baby:hover {
        background-color: $blue-medium;
    }
}

@media (min-width: $sm) {
    .banner-background {
        display: block;
        min-height: 160px;
        max-height: 296px;
        object-fit: cover;
    }
    .banner-logo {
        height: 80px;
        display: block;
        position: absolute;
        left: 10px;
        bottom: 70px;
    }
    .banner-button-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .banner-button {
            margin: 14px;
        }
    }
}
@media (min-width: $md) {
    .banner-logo {
        height: 90px;
        display: block;
        position: absolute;
    }
}
@media (min-width: $lg) {
    .banner-logo {
        height: 128px;
        display: block;
        position: absolute;
    }
}
@media (min-width: $xl) {
    .banner-logo {
        height: 148px;
        display: block;
        position: absolute;
        bottom: 80px;
    }
}
