@import "../../variables";

.banner-container {
    position: relative;
    background-color: transparent;
    img {
        max-width: $max-width;
        margin: auto;
    }
}
.banner-background {
    display: none;
}
.banner-button-container {
    display: flex;
    justify-content: center;
    .banner-button {
        max-width: 330px;
        border-radius: 12px;
        color: white;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
        margin: 20px 8px;
        padding: 12px;
    }
    .banner-button-pregnancy {
        background-color: $pink-light;
    }
    .banner-button-pregnancy:hover {
        background-color: $pink-medium;
    }
    .banner-button-baby {
        background-color: $blue-light;
    }
    .banner-button-baby:hover {
        background-color: $blue-medium;
    }
}

@media (min-width: $sm) {
    .banner-background {
        display: block;
    }
    .banner-button-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .banner-button {
            margin: 14px;
        }
    }
}
